<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>管理中心 - 会员列表 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/general.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/page.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
    <span class="action-span"><a href="{:U('add')}">添加会员</a></span>
    <span class="action-span1"><a href="#">管理中心</a></span>
    <span id="search_id" class="action-span1"> - 会员列表 </span>
    <div style="clear:both"></div>
</h1>
<div class="form-div">
    <form action="{:U()}" name="searchForm" id="searchForm">
    <img src="__IMG__/icon_search.gif" width="26" height="22" border="0" alt="search" />
    <input type="text" name="keyword" value="{:I('get.keyword')}" size="15" />
    <input type="submit" value=" 搜索 " class="button" />
    </form>
</div>
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>用户编号</th>
                <th>用户名</th>
                <th>手机号码</th>
                <th>注册邮箱</th>
                <th>注册时间</th>
                <th>最后登陆时间</th>
                <th>最后登陆ip</th>
                <th>会员状态</th>
                <th>操作</th>
            </tr>
            <volist name="members" id="val">
            <tr>
                <td align="center">{$val.id}</td>
                <td align="center">{$val.username}</td>
                <td align="center">{$val.tel}</td>
                <td align="center">{$val.email}</td>
                <td align="center">{$val.add_time|date="Y-m-d H:i:s",###}</td>
                <td align="center">{$val.last_login_time|date="Y-m-d H:i:s",###}</td>
                <td align="center">{$val.last_login_ip}</td>
                <td align="center"><if condition="$val['status'] gt 0">正常
                    <elseif condition="$val['status'] eq 0" />未激活
                    <elseif condition="$val['status'] lt 0" />封禁</if></td>
                <td align="center">
                <a href="{:U('edit',array('id'=>$val['id']))}" title="编辑">编辑</a> |
                <a href="{:U('remove',array('id'=>$val['id']))}" title="编辑">移除</a>
                </td>
            </tr>
            </volist>
            <tr>
                <td align="right" nowrap="true" colspan="9">
                    <div class="page">
                        {$page}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>

<div id="footer">
版权所有 &copy; {:date('Y-m-d h:i:s',NOW_TIME)}</div>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript">
//    $("#cate option[value='{:I(\'get.article_category_id\')}']").prop("selected",true);
    function submitForm(){
        document.getElementById("searchForm").submit();//form表单提交
    }
</script>
</body>
</html>