<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>管理中心 - 商品分类 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/general.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
    <span class="action-span"><a href="{:u('add')}">添加分类</a></span>
    <span class="action-span1"><a href="__GROUP__">管理中心</a></span>
    <span id="search_id" class="action-span1"> - 商品分类 </span>
    <div style="clear:both"></div>
</h1>
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
                <th>分类名称</th>
                <th>父级分类</th>
                <th>分类描述</th>
                <th>是否导航栏</th>
                <th>是否显示</th>
                <th>排序</th>
                <th>操作</th>
            </tr>

            <foreach name="rows" item="row">
                <tr align="center" class="0">
                    <td align="left" width=20%">{:str_repeat('&nbsp;',($row['level']-1)*5)}<img src="__IMG__/menu_arrow.gif" width="9" height="9" border="0" style="margin-left:0em" />  <a href="{:U('Goods/index',array('goods_category_id'=>$row['id']))}">{$row.name}</a> </td>
                    <td width="10%"><if condition="$row.parent_id eq 0">无<else />{$row.parent_id}</if></td>
                    <td width="15%">{$row.intro}</td>
                    <td width="10%"><img src="__IMG__/{$row.is_nav}.gif" /> </td>
                    <td width="10%"><img src="__IMG__/{$row.is_show}.gif" /> </td>
                    <td width="15%">{$row.sort}</td>
                    <td width="30%" align="center">
                        <a href="{:U('edit',['id'=>$row['id']])}">编辑</a> |
                        <a href="{:U('remove',['id'=>$row['id']])}" title="移除" onclick="">移除</a>
                    </td>
                </tr>
            </foreach>
        </table>
    </div>
</form>
<div id="footer">
<br />
版权所有 &copy; 2016</div>
</body>
</html>